:root{
    --p: #111111;
    --s: #23145b;
    --t: #00ccff;
    --q: white;
    --c: #272727;
}

.sasuke{
    --p: #111111;
    --s: #23145b;
    --t: #00ccff;
    --q: white;
    --c: #272727;
}

.goku{
    --p: #010a2c;
    --s: #000000;
    --t: #F85B1A;
    --q: white;
    --c: #011452;
}

.zenitsu{
    --p: #3a2c20;
    --s: #855d3d;
    --t: #f9e179;
    --q: black;
    --c: #4d3b2b;
}